

.display{
display: flex;
justify-content: center;   
}

.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    width: 50vw;
    height: 100vh;
    background-color: #141d26;
}

.divimagem{
    border:1px solid black;
    width: 50vw;
    height: 100vh;
    background-color:blue;
    background-image: url("imagens/people.jpg")
}



.btn{
  border-radius: 10px ;
  text-align: center;
  margin-top: 3%;
  width: 45%;
  background-color: #1da1f2;
  border: 1px #1da1f2;
  color: azure;   
  cursor: pointer;
}

.btn:hover{
   background-color:aliceblue;
   color:#141d26;
}

.form{
    border: 1px solid black;
    text-align: center;
    width: 400px;
    background-color: #1b2836;
    box-shadow:  1px 1px 1px 1px;
    padding: 1%;
    border-radius: 10px;
}

.caixatexto{
    text-align: center;
    border-radius: 10px;
    height: 25px;
    margin-top: 5%;
    width: 250px;
}

body{
    
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a{
    color: azure;
    text-decoration:none;
}

a:hover{
    color: #1da1f2;
}

.footer{
    border: 1px solid black;
    background-color: #141d26;
    height:25px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: azure;
    text-align: center;
    padding-top: 0.5%;
}